.container{
    border-top: 1px solid rgb(198, 198, 198);
    margin-top: 20px;
}



#aboutsection p{
    max-width: 1020px;
    width: 100%;
    font-size: 40px;
    letter-spacing: -0.01rem;
    line-height: 52px;
    overflow-wrap: break-word;
}

.animsection{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 250px;
}

.link.arrow{
    padding: 0 45px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.link {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 25px;
    line-height: 22px;
    position: relative;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
    color: black;
}

.link span{
    background-color: white;
}

.link::before{
    position: absolute;
    content: '';
    background: url("./media/icons_arrow_right-purple.svg") center center;
    background-size: contain;
    display: block;
    width: 25px;
    height: 20px;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    z-index: -10;
}

.link:hover{
    color: black;
}

.link:hover::before{
    animation-name: example;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}

@keyframes example{
    0% {margin-left: 0;}
    100% {margin-left: 85%;}
}

 /* arrow animation -start */
 .mainparent{
    position: relative;
}


.parent{
    position: absolute;
    right: 0;
    bottom: 11px;
}

.parent.diagonal{
    /* single variable: height */
    --height: 137px;
    height: var(--height);
    width: var(--height);
    --long: calc(var(--height) * 1.41);
    --short: calc(var(--height) * .765);
}

.parent.diagonal.reveal::after{
    width: var(--long);
    transition: all ease 2s;
}


.parent.diagonal::after{
    border-top: 2px solid black;
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    top: -2px;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 0;
}

.parent.diagonal.reveal .child1::before{
    width: var(--short);
    transition: all ease 2s;
}

.parent.diagonal .child1::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(var(--height) - var(--short));
    display: block;
    border-top: 2px solid black;
    width: 0;
}
.parent.diagonal.reveal .child1::after{
    width: var(--short);
    transition: all ease 1s;
}
.parent.diagonal .child1::after{
    content: '';
    position: absolute;
    right: 0;
    top: calc(var(--height) - var(--short));
    display: block;
    border-top: 2px solid black;
    transform: rotate(-90deg);
    transform-origin: top right;
    width: 0;
}
/* arrow animation -start */

/* Arrow Slider - start */
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: black;
}

.slidercontainer{
    position: relative;
}
.link::before{
    content: '';
    position: absolute;
    margin-left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: url("./media/icons_arrow_right-purple.svg");
    height: 20px;
    width: 25px;
    /* z-index: -10; */
    transition: margin-left 0.2s;
    transition-delay: 0.2s;
}

.link.showItem::before{
    margin-left: 130px;
    transition: all ease 0.2s;
}

.link span{
    font-size: 16px;
    position: relative;
    margin-left: 30px;
    display: inline-block;
    height: 30px;
    height: 25px;
    z-index: 10;
}

.link span::before{
    background: black;
    content: '';
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 0%;
}

.link.showItem span::before{
    width: 100%;
    transition: width 0.6s;
}

.link span::after{
    background: black;
    content: '';
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 0%;
    transition: width 0.6s;
    transform: translateX(-100%);
}

.link.showItem span::after{
    width: 100%;
    transition-delay: 0.4s;
}
/* Arrow Slider - end */

.textContainer{
    
    position: relative;
    transform: translateY(100px);  
    opacity: 0;
}

.textContainer.reveal{
    transform: translateY(0px);
    opacity: 1;
    transition: all ease 1s;
}


/* our journey section */
.container.journey{
    margin-top: 160px;
    border-top: none;
}

.journey h2{
    font-size: 56px;
}

.textItems h3{
    width: 480px;
    margin-left: auto;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0px;
    position: relative;
}


.textItems .headingItem::before{
    content: '';
    position: absolute;
    top: 0px;
    border-top: 1px solid black;
    width: 0%;
}

.textItems .headingItem.reveal::before{
    width: 100%;
    transition:  width ease 1s;
}


.textItems .headingItem::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid black;
    width: 0%;
}

.textItems .headingItem.reveal::after{
    width: 100%;
    transition:  width ease 2s;
}


.stats{
    width: 480px;
    margin-left: auto;
    margin-bottom: 30px;
}

.stats .numbers{
    display: block;
    font-size: 56px;
    position: relative;
    left: 20px;
}

.stats .numbers::after{
    content: '';
    position: absolute;
    left: -20px;
    transform: translateY(35%);
    border: 1px solid black;
    height: 60%;
    width: 1px;
}

.stats .description{
    display: block;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    left: 20px;
}

.journeyImg{
    position: sticky;
    top: 80px;
    width: 50%;
}